<h3 *ngIf="isAddMode">Add Country</h3>
<h3 *ngIf="!isAddMode">Edit Country</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-3"></div>
    <div class="col-9">
        <div class="form-group">
            <label>Code</label>
            <!-- <select formControlName="code" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                <option value=""></option>
                <option value="IND">IND</option>
                <option value="CH">CH</option>
                <option value="USA">USA</option>
                <option value="BR">BR</option>
            </select> -->
            <input type="text" [readonly]="!isAddMode" formControlName="code2" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.code2.errors" class="invalid-feedback">
                <div *ngIf="f.code2.errors.required">Country Code is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" [readonly]="!isAddMode" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Country Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Region</label>
            <input type="text" [readonly]="!isAddMode" formControlName="region" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
            <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">Region Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Continent</label>
            <select formControlName="continent" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.continent.errors }">
                <option value=""></option>
                <option value="Asia">Asia</option>
                <option value="Africa">Africa</option>
                <option value="Europe">Europe</option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
            </select>
            <div *ngIf="submitted && f.continent.errors" class="invalid-feedback">
                <div *ngIf="f.continent.errors.required">Population is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Population</label>
            <input type="text" formControlName="population" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.population.errors }" />
            <div *ngIf="submitted && f.population.errors" class="invalid-feedback">
                <div *ngIf="f.population.errors.required">Country population is required</div>
                <div *ngIf="f.population.errors.email">Country population must be a valid population details</div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label>Code2</label>
            <select formControlName="code2" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                <option value=""></option>
                <option value="IN">IN</option>
                <option value="CH">CH</option>
                <option value="US">US</option>
                <option value="BR">BR</option>
            </select>
            <div *ngIf="submitted && f.code2.errors" class="invalid-feedback">
                <div *ngIf="f.code2.errors.required">country Code2 is required</div>
            </div>
        </div> -->
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/countries" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>